
html, body {
    background-color: black;
}

/* index.html */
.user-motto {
    color: white;
}
.user-info {
    color: white;
}

.btn-item {
    border: 1px solid white;
}
.btn-item a {
    color: white;
}

.contact-block a {
    color: white;
}

/* List html */
  .navbar-default {
    background-color: black;
    color: #fff;
  }
  .navbar-default span {
    color: #fff;
  }
  .navbar-default .navbar-nav > li > a {
      color: dimgray;
  }
  .navbar-default .navbar-nav > li > a:hover, 
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
  }

  p {
    color: rgb(200, 200, 200);
  }

  /* Article detail */
  blockquote {
    background-color: rgb(20, 50, 77);
    margin: 2em 0;
    border-left: 4px solid #42b983;
    padding: 5px 20px;
    color: rgb(200, 200, 200);
    font-size: 13px;
  }
  .panel-body {
      background-color: black;
  }
  .article-content {
      color: rgb(200, 200, 200);
  }
  .disqus {
      background-color: black;
  }

  /* pagination */
  .pagination {
      color: rgb(200, 200, 200);
  }

  /* footer */
  .footer-container .text-muted {
      color: rgb(200, 200, 200);
  }