/* Main page with stikky-footer */
html, body {
  height: 100%;
  background-color: #fff;
}
/* Wrapper for page content to push down footer */
#container {
  min-height: 100%;
  height: auto;
  background-image: url("/img/home-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.home-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-color: transparent;
  width: 40rem;
  margin: 0 auto;
}
.user-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 4.1rem;
  border: 0.2rem solid white;
}

.user-motto {
  /* background-color: aquamarine; */
  color: #e0e0e0;
  font-size: 1.5rem;
  margin: 1.5rem auto;
}
.user-info {
  /* background-color: blueviolet; */
  color: #acacac;
}
.bottom-block {
  /* background-color: aqua; */
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  align-content: center;
}
.btn-item {
  height: 2.2rem;
  width: 4.5rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 1.1rem;
  border: 1px solid #acacac;
  margin: auto 1rem;
}

.btn-item a {
  color: #e0e0e0;
  text-decoration: none;
  transition: all .4s ease;
}
.btn-item:hover {
  color: white;
  border: 0.9px solid white;
}

.contact-block {
  color: #ececec;
  margin: 2rem auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  align-content: center;
}
.contact-block a {
  color: #e0e0e0;
  font-size: 1.5rem;
}
.social {
  margin: auto 1rem;
}
/* Navbar */
.navbar {
  /* margin-bottom: 0; */
  border: none;
  margin: 0 auto;
  position: relative;
  width: 600px;
}

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  vertical-align: middle;
}
.navbar-default .navbar-brand img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  margin-top: -0.8rem;
}
.navbar-default span {
  margin-top: 1rem;
  line-height: 5rem;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #344557;
}
.navbar-header {
  width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #adadad;
}
#navbar {
  position: relative;
  margin: 0;
}
.navbar-right {
  position: relative;
  float: right !important;
  margin-right: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #344557;
  margin-bottom: -2px;
  border-bottom: 2px solid #46bd87;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #344557;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #344557;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #344557;
}
.navbar-default .navbar-link:hover {
  color: #344557;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #344557;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #344557;
    margin-bottom: -2px;
    border-bottom: 2px solid #46bd87;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #344557;
    background-color: #ffffff;
  }
}


/* Custom page CSS */
.footer-container .text-muted {
  /* background-color: darkcyan; */
  margin: 20px auto;
  text-align: center;
  color: #344557;
}
.footer-container a {
  color: #46bd87;
}
.container a {
  color: #46bd87;
}
.container a:hover {
  color: #46bd87;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.article-content {
  width: 600px;
  color: #344557;
}
.panel-default {
  margin: 0 auto;
  border-color: #fff;
  border: none;
}

.article-top-block {
  padding: 15px;
}
.summary a {
  color: #46bd87;
}
.blog-title h4 {
  font-size: 15px;
}
.article-list {
  width: 600px;
}
.panel-default h1, h2, h3 {
  font-size: 22px;
  font-weight: bold;
  color: #46bd87;
}
.panel-default h4, h5, h6 {
  text-align: left;
  line-height: 30px;
  font-size: 16px;
  color: #46bd87;
}

.panel-default h4 a, h5 a {
  color: #27A822;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #267723;
}

.panel-default img {
  display: block;
  max-width: 100%;
  margin: 1em auto;
}

blockquote {
  background-color: #f8f8f8;
  margin: 2em 0;
  border-left: 4px solid #42b983;
  padding: 5px 20px;
  color: #9b9b9b;
  font-size: 13px;
}

code {
  color: #e96900;
  font-size: 0.8em;
  margin: 0 2px;
  border-radius: 2px;
  white-space: inherit;
  background-color: #f8f8f8;
  position: relative;
}

pre {
  background-color: #F8f8f8;
  padding: 0;
  font-size: 0.8em;
  padding: 1em 1.5em;
  border: none;
  font-family: 'Roboto Mono', Monaco, courier, monospace;
}

.social-links {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  animation: fade 1s ease 1s both;
}

.blog-post{
  padding-top: 15px;
}
.blog-post a {
  color: #46bd87;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}
.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 13px;
}

/* pagination */
.pagination {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.pagination a {
  display: inline-block;
  color: #46bd87;
  font-size: 30px;
  line-height: 30px;
}

.pagination a:hover {
   text-decoration: none;
}