/* Main page with stikky-footer */
html, body {
  height: 100%;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Wrapper for page content to push down footer */
#container {
  min-height: 100%;
  height: auto;
  background-image: url("/img/home-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  background-color: transparent;
  /* background-color: bisque; */
  width: 40rem;
  margin: 0 auto;
}
.user-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 4.1rem;
  border: 0.2rem solid white;
}

.user-motto {
  /* background-color: aquamarine; */
  color: #e0e0e0;
  font-size: 1.5rem;
  margin: 1.5rem auto;
}
.user-info {
  /* background-color: blueviolet; */
  color: #acacac;
}
.bottom-block {
  /* background-color: aqua; */
  /* margin: 2rem auto; */
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  align-content: center;
}
.btn-item {
  height: 2.2rem;
  width: 4.5rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 1.1rem;
  border: 1px solid #acacac;
  margin: auto 1rem;
}
.btn-item a {
  color: #e0e0e0;
  text-decoration: none;
  transition: all .4s ease;
}
.btn-item:hover {
  color: white;
  border: 0.9px solid white;
}

.contact-block {
  /* background-color: brown; */
  color: #ececec;
  /* width: 8rem; */
  margin: 2rem auto;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-items: center;
  align-content: center;
}
.contact-block a {
  color: #e0e0e0;
  font-size: 1.5rem;
}
.social {
  margin: auto 1rem;
}

/* Navbar */
.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
}

/* Custom page CSS */

.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #27A822;
}
.container a:hover {
  color: #267723;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #27A822;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #267723;
}
/* .panel{
  border-style: none;
} */
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social-links {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  animation: fade 1s ease 1s both;
}

.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}
.blogpost{
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

/* Footer  */
.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
div.footer{
  border-bottom: 5px solid #27A822;
}
