{{ partial "head" . }}
  <body>
    <div id="wrap">
      <!-- Header -->
      {{ partial "header" . }}
      <div class="panel-default article-list">
        <div class="panel-body">
        {{ range .Paginator.Pages }}
          <div class="row">
             <div class="col-sm-12 col-md-12 col-lg-12">
               <h5 style="text-align: left">
                <strong><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></strong>
              </h5>
              <h6 style="text-align: left; font-size: 15px; margin-top: -10px;">
                {{ .Date.Format "January 2, 2006" }}
              </h6>
            </div>
            <div class="summary col-sm-12 col-md-12 col-lg-12">
              {{ .Summary }}
            </div>
          </div>
        {{ end }}
        </div>
        <!-- paginator -->
        {{ partial "pagination" . }}
      </div>
      <!-- Footer -->
      {{ partial "footer" . }}
    </div>
  </body>
</html>
